@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  /* font-size: 16px; */
}

html {
  position: relative;
}

.home {
  background-image: url(./asserts/banner.png);
  position: relative;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-end;
  z-index: 3;
}

.navbar .nav-container {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.item {
  font-size: 20px;
  padding-right: 50px;
}

.item:nth-child(4) {
  padding-right: 300px;
}

.item > a {
  text-decoration: none;
  font-weight: 700;
  color: gray;
}

.content {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(0, 0, 0);
}

.content h3 {
  font-size: 30px;
}

.content h1 {
  font-size: 50px;
}

.typo {
  font-size: 60px;
  color: orange;
}

.info {
  padding-left: 15px;
}

.info > p {
  width: 80%;
}

.buttons {
  padding-top: 15px;
  width: 100%;
}

.buttons > div {
  display: inline-block;
}

.buttons a {
  text-decoration: none;
  border: 1px solid #ff9068;
  padding: 7px;
  background: transparent;
  transition: all 0.4s;
  color: black;
  transform: translateZ();
}

.button {
  padding-top: 10px;
  padding-left: 5px;
}

.buttons a:hover {
  background: tomato;
  color: white;
}

/* About Section  */

.about {
  min-height: 100vh;
}

.heading {
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 160px;
  margin-bottom: 30px;
  margin-top: -9px;
}

.back-text {
  position: absolute;
  top: 18%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  color: #000;
  opacity: 0.04;
  text-transform: uppercase;
  font-size: 146px;
  font-weight: 900;
}

.title {
  font-size: 40px;
  width: 100%;
  position: absolute;
  transform: translate(-50%, 50%);
  top: 50%;
  left: 50%;
}

.about-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7vh;
}

.aboutme {
  width: 35%;
  padding-right: 5px;
}

.aboutme h3 {
  padding-bottom: 20px;
}

.aboutme p {
  color: #000;
  line-height: 35px;
  font-size: 20px;
}

.aboutme ul {
  margin-left: -20px;
  padding-top: 25px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.aboutme ul li {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

.aboutme ul li span {
  font-weight: 700;
  display: inline-block;
  min-width: 80px;
}

.skills {
  width: 35%;
}

.skills h3 {
  text-align: center;
  padding-bottom: 10px;
}

.skills img {
  height: 50px;
  width: 50px;
  transition: all 0.2s ease-in-out;
}

.skills ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills li {
  width: 150px;
  display: flex;
  padding: 10px;
}

.skills li img:hover {
  transform: scale(1.2) rotateZ(360deg);
}

.skills p {
  margin-left: 15px;
  align-self: center;
  word-break: keep-all;
}

/* PROJECTS  */

.projects {
  padding: 10vh;
  min-height: 100vh;
}

.project-container h4 {
  font-size: 40px;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-content: space-around;
  align-content: center;
  grid-gap: 100px;
  padding: 8% 8%;
}

/* PROJECT CARD  */

.card {
  background: cornsilk;
  width: 350px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.overlay1 {
  position: absolute;
  top: -100%;
  transform: rotateZ(90deg);
  background: rgba(0, 0, 0, 0.5);
  height: 50%;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.overlay2 {
  position: absolute;
  bottom: -100%;
  transform: rotateZ(90deg);
  background: rgba(0, 0, 0, 0.5);
  height: 50%;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.card ul {
  position: absolute;
  top: -100%;
  right: 0;
  list-style: none;
  background: #00334d;
  width: fit-content;
  padding: 10px 5px;
  border-radius: 10%;
  transition: all 0.2s ease-in 0.3s;
}

.card li {
  padding: 2px;
}

.card li:nth-child(2) {
  margin-left: -5px;
  padding-top: 20px;
}

.card .hover-title {
  position: absolute;
  bottom: 8%;
  left: 10%;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  transform: scale(0);
  transition: all 0.2s ease 0.4s;
}

.card:hover .overlay1 {
  top: 0;
  right: 0;
  transform: rotateZ(0deg);
}

.card:hover .overlay2 {
  bottom: 0;
  left: 0;
  transform: rotateZ(0deg);
}

.card:hover .hover-title {
  transform: scale(1.1);
}

.card:hover ul {
  top: 0;
}

.card .project-image {
  width: 100%;
  height: 60%;
}

.card .project-description {
  padding: 10%;
}

.card .project-description h3 {
  text-align: center;
}
/* END PROJECT CARD   */

/* END OF ABOUT SECION  */
/* 
.contact {
  height: 90vh;
}

.contact h3 {
  text-align: center;
}

.contact-form {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form input {
  width: 60%;
  margin: 10px 20px;
  height: 100%;
  padding: 8px 5px;
  border: 1px solid rgba(0, 0, 0, 0.479);
  border-radius: 5px;
  outline: none;
}

label {
  width: 60%;
}

textarea {
  width: 60%;
  outline: none;
  resize: vertical;
  border: 1px solid rgba(0, 0, 0, 0.479);
  border-radius: 5px;
  padding: 8px 5px;
} */

/* contact section*/
.contact {
  width: 100%;
}

.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: crimson;
}

#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

#contact .contact-items {
  width: 400px;
}

#contact .contact-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 18px 0px #0000002c;
  transition: box-shadow 0.3s ease;
}

#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0px #0000002c;
}

#contact .icon {
  margin: 0 auto;
  margin-bottom: 10px;
}

#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

#contact .contact-info h1 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

/* end contact section*/

/*footer*/
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

#footer .footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}

#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

#footer .social-item img {
  filter: grayscale(1);
  transition: filter 0.3s ease;
}

#footer .social-item img:hover {
  filter: grayscale(0);
}

#footer p {
  color: white;
  font-size: 1.3rem;
}
/*end footer*/

@media only screen and (max-width: 900px) {
  .image {
    margin: 0;
    padding: 0;
  }

  .image img {
    height: 400px;
    width: 400px;
  }

  .content h3 {
    font-size: 20px;
  }

  .content h1 {
    font-size: 30px;
  }

  .typo {
    font-size: 35px;
  }

  .info {
    padding-left: 15px;
  }

  .navbar {
    display: none;
  }

  .about-info {
    padding-left: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .aboutme {
    width: 90%;
  }
  .skills {
    padding-top: 20px;
    width: 90%;
  }

  .back-text {
    font-size: 100px;
  }

  .aboutme ul li {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .skills {
    padding-top: 50px;
  }

  .skills ul {
    align-items: flex-start;
  }

  .skills h3 {
    text-align: start;
    font-size: 22px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .content {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info {
    padding-left: 15px;
  }

  .navbar {
    display: none;
  }
}

@media only screen and (min-width: 760px) {
  #contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
  }

  #contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 20px;
  }

  #contact .contact-item {
    margin: 20px;
    flex-direction: row;
  }

  #contact .contact-item .icon {
    height: 60px;
    width: 60px;
  }

  #contact .contact-item .icon .img {
    object-fit: contain;
  }

  #contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
  /*end contact section*/
}
